.about .about_wrapper {
    margin-left: 135px;
    margin-top: 97px;
}

.about .about_wrapper .about_block ul {
    font-size: 18px;
    line-height: 18px;
    color: #171648;
    list-style: none ; 
    padding-inline-start: unset;
}

.about_block p {
    width: 400px;
}

.about_block ul li {
    margin-bottom: 16px;
}

.about_block ul li::before {
    content: " "; 
    background-color: #217BF4;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 5px solid #EEF2F9; 
    margin-right:17px;
}

.about_first_block_of_images {
    display: flex;
    width: 270px;
    height: 368px;
    margin: 104px 29px 104px 200px;
    border-radius:1px;
}

.about_first_block_of_images > img {
    border-radius: 10px;
}

.about_second_block_of_images {
    width: 267px;
    height: 252px;
}

.about_second_picture {
    width: 265px;
    height: 238px;
    margin: -80px 35px 32px 29px;
}

.about_third_picture {
    height: 255px;
    margin: 24px 35px auto 29px;
    padding-bottom: 46px;
}

.about_first_block_of_images button {
    border-radius:50%;
    border-color: #2766F7;
    width: 44px;
    height: 44px;
    background-color: white;
    position: absolute;
    margin: 160px 120px;
    border: 0;
}

.about_first_block_of_images button i.fa {
    color: #2766F7;
    margin-top: 5px;
}

@media (max-width:414px) {
    .about .about_wrapper {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_first_block_of_images {
        margin: 0;
        height: 320px;
    }

    .about_second_block_of_images {
        display: none;
    }

    .about_block p,
    .about .about_wrapper .about_block ul {
        padding: 0 50px;
    }

    .about_first_block_of_images button {
        width: 30px;
        height: 30px;
    }

    .about_first_block_of_images button i.fa {
        margin-top: 3px;
    }

}

