
.aplication_intro {
    text-align: center;
    padding: 130px 400px 60px 400px;
}

.aplication_wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 45px;
    padding-bottom: 100px;
    border-bottom: 1px solid #cf2020;
}

.aplication_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #2F2C4A;
    padding-top: 25px;
    padding-left: 73px;
}

.aplication_radius {
    border-radius: 20px;
}

.link_members.aplication_link {
    width: 250px;
    gap: 2px;
    padding-left: 73px;
    color: #656464;
    font-weight: 400;
}

.link_members.aplication_link:hover {
    transition: opacity .2 ease;
    color: #217BF4;
}

.link_members i.fa {
    font-size: 11px;
    padding-left: 8px;
    padding-top: 5px;   
}

.mass {
    position: relative;
} 

.mass::before {
    content: '';
    position: absolute;
    width: 39px;
    height: 0px;  
    border: 2px solid #FFAF2E;
    margin-top: 46px;
} 