.application .application_intro {
    text-align: center;
    padding: 130px 400px 60px 400px;
}

.application .application_wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 45px;
    padding-bottom: 100px;
}

.application_wrapper .application_block img {
    border-radius: 20px;
}

.application_block .application_parth .application_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #2F2C4A;
    padding-top: 25px;
    padding-left: 73px;
}

.link_members.application_link {
    gap: 2px;
    margin-left: 73px;
    color: #656464;
    font-weight: 400;
}

.link_members.application_link:hover {
    transition: opacity .2 ease;
    color: #217BF4;
}

.link_members i.fa {
    font-size: 11px;
    padding-left: 8px;   
}

.application_parth .mass {
    position: relative;
} 

.application_parth .mass::before {
    content: '';
    position: absolute;
    width: 39px;
    height: 0px;  
    border: 2px solid #FFAF2E;
    margin-top: 46px;
} 

@media (max-width:414px) {
    .application .application_intro {
       padding: 60px 10px 30px 10px ; 
    }

    .application .application_wrapper {
        flex-direction: column; 
        align-items:center;
    }
}