.community {
    background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
}

.community .community_parth {
    padding-top: 60px;
    text-align: center;
}

.community .community_wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 44px;
    margin:64px 176px 80px 176px;
}

.community .community_wrapper .community_block {
    display: flex;
    align-items:center;
    gap: 36px;
    background: #FFFFFF;
    box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
    border-radius: 14px;
    padding: 12px 40px 50px 40px;
}

.community_block .icons_background {
    width: 66px;
    height: 66px;
    border-radius: 24px;
    padding: 19px 16px;
}

.icons_background.blue_background {
    background: linear-gradient(154.49deg, #5CA1FE 6.61%, #217BF4 89.72%);
    box-shadow: 0px 10px 22px -2px rgba(109, 171, 255, 0.36);
}

.icons_background.red_background {
    background: linear-gradient(154.49deg, #FF858A 6.61%, #F04148 89.72%);
    box-shadow: 0px 8px 22px -2px rgba(248, 87, 94, 0.3);
}

.icons_background.yellow_background {
    background: linear-gradient(154.49deg, #FFD085 6.61%, #FFAF2E 89.72%);
    box-shadow: 0px 10px 22px -2px rgba(250, 186, 84, 0.3);
}

.caption_community .title_of_block {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #2F2C4A;
    width: 209px;
    height: 26px;
    margin:30px 0 14px 0;
    text-align: left;
}

.caption_community .about_community {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 315px;
    height: 52px;
    color: #656464;
}

@media (max-width:414px) {
    .community .community_wrapper {
        margin: 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .community .community_wrapper .community_block {
        padding: 20px 10px;
        gap: 15px;
    }

    .caption_community .title_of_block {
        margin: 10px 0;
    }

    .caption_community .about_community {
        margin-bottom: 5px;
        line-height:22px;
        width: 300px;
    }
}
