.mobile {
    background: #E5F0FD;
    display: flex;
}
.mobile .mobile_parth {
    padding: 122px 122px 122px 135px;
}

.mobile .mobile_wrapper {
    display: flex;
    align-items:center;
    width: 144.97px;
    height: 52px;
    margin-top: 36px;
    margin-left: -20px;
}

.mobile img {
    width: 680px;
}

@media (max-width:414px) {
    .container.flex_container {
        flex-direction: column;
    }
    
    .mobile .mobile_parth {
        padding: 40px 0;
    }

    .mobile img {
        width: 400px;
    }    
}
