
.solutions_wrapper {
    margin-left: 135px;
}

.solutions_block .label {
    width: 210px;
    height: 44px;
    background: rgb(33 123 244 / 10%);
    border-radius: 8px;
    color: #217BF4;
    padding: 12px 26px;
    text-align: center;
    margin-top: 125px;  
    margin-bottom: 20px;
    display: block;
}

.solutions_block h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #0A093D;
    margin-bottom: 18px;   
}

.solutions_block p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #656464;
    margin-bottom: 42px
}

.solutions_buttons .btn:first-child {
    margin-bottom: 165px;
    margin-right: 18px;
}

.solutions {
    display: flex;
    border-bottom: 1px solid #cf2020;
}

.solutions .solutions_second_block {
    margin-top: 72px;
    padding-bottom: 82px;
}

