.team .team_parth {
    text-align: center;
    padding-top: 84px;
}

.team .team_parth .group_item_team {
    display: inline-flex;
    padding: 8px;
    background-color: #EEF2F9;
    margin: 38px auto 44px auto;
    border-radius: 14px;
}

.group_item_team a {
    background-color: #EEF2F9;
    color: #2F2C4A;
    width: 158px;
    height: 16px;
    align-items: center;
    display: flex;
    padding: 28px 58px ;
}

.group_item_team .active {
    background: #217BF4;
    color:#FFFFFF;
    border-radius: 14px;
}

.team .team_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 14px 134px 84px 134px;
}

.team .team_wrapper .profile {
    padding: 30px;
    box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);
    border-radius: 14px;
}

.profile .image_profile_block {
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.profile .image_profile_block :first-child {
    position: absolute;
}

.profile .image_profile_block .image_profile {
    position: relative;
    padding-top: 6px
}

.profile .image_profile_block .person_five.second_delay {
    padding-top: 16px;
}

.profile .image_profile_block .check_icon { 
    position: relative;
    margin-top: -8px;
}

.profile .image_profile_block .check_icon.second_check {
    margin-top: -30px;
}

.profile .title_of_block {
    width: 171px;
    height: 26px;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #2F2C4A;
    margin-top: 29px;
    margin-bottom: 14px;
}

.profile .title_of_block.image_delay {
    margin-top: 29px;
}

.profile p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #656464;
}

@media(max-width:414px) {
    .group_item_team a {
        width: 120px;
        height: 6px;
        padding: 25px 30px;
    }

    .team .team_wrapper {
        padding: 0 0 30px 0;
        flex-direction: column;
        align-items: center;
    }
}

